body {
    background-color: #212121 !important; /* Sets the background color to hex color */
    color: white !important; /* Optional: Change text color to white for readability */
    margin: 0 !important; /* Removes default margins */
    height: 100vh; /* Ensures full viewport height */
    padding-top: 80px; /* Adjust to match navbar height */
}
/* Custom Fonts Here */
@font-face {
    font-family: 'Boogie Sniggles'; /* Loads custom font */
    src: url('fonts/BoogieSniggles-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('fonts/HelveticaNeue-Medium.woff') format('woff'),
         url('fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Establishing fonts for tags */
h1, h2, h3 {
    font-family: 'Boogie Sniggles';
}
p1 {
    font-family: 'Helvetica Neue Medium';
}
/* Adding a slight zoom effect when hovering over social icons in navbar */
.d-flex img:hover {
  transform: scale(1.1);
}
/* Changing the navbar bg and text font/colors */
.navbar {
  background-color: #050505 !important; /* Custom hex color */
    min-height: 80px; /* Establishes height of navbar */
  padding-top: 10px; /* Adjust spacing above text */
  padding-bottom: 10px; /* Adjust spacing below text */
}
.navbar .nav-link {
  color: white !important; /* Makes icons and text white */
    padding: 15px 50px; /* Adjust vertical and horizontal spacing */
}
.navbar-nav .nav-link {
  font-family: 'Boogie Sniggles'; /* Font for text */
  font-size: 16px; /* Adjust text size */
  /*font-weight: 600; /* Adjust text weight */
}
/* Adjusts the navbar height for mobile screens */
@media (max-width: 768px) {
  .navbar {
    min-height: 60px;
  }
}
